.heading_cont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.app_heading{
    margin-top: 30px;
    margin-bottom: 40px;
    font-size: 32px;
    font-weight: 500;
    cursor: default;
}
.app_heading .line{
    height: 3px;
    width: 50%;
    background-color: rgb(0, 78, 122);
    transition: 0.5s ease-in-out;
}
.app_heading:hover .line{
    height: 3px;
    width: 100%;
}
.quality{
    padding: 20px 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.quality > .content{
    height: 100%;
    width: 100%;
    max-width: 1000px;
    background-color: rgba(255, 255, 255, 0.85);
    transform: translateX(20px);
    transition: 1s ease-in-out;
    border-radius: 20px;
    overflow: hidden;

    padding: 20px;
    font-size: 16px;
    text-align: justify;
}
.quality > .content.slide1{
    animation-name: contslide1;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: once;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes contslide1{
    0%{
        transform: translateX(20px) scale(1) rotateY(-20deg);
        box-shadow: 0px 0px 0px 0px rgba(36, 36, 36, 0);
        z-index: 1;
    }
    50%{
        transform: translateX(-20px) scale(1.025);
    }
    100%{
        transform: translateX(20px) scale(1.05) rotateY(0deg);
        box-shadow: 10px -5px 20px 0px rgba(36, 36, 36, 0.4);
        z-index: 2;
    }
}

.quality > .content.slide2{
    animation-name: contslide2;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: once;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes contslide2{
    0%{
        transform: translateX(20px) scale(1.05) rotateY(0deg);
        box-shadow: 10px 0px 20px 0px rgba(36, 36, 36, 0.4);
        z-index: 2;
    }
    50%{
        transform: translateX(-20px) scale(1.025);
    }
    100%{
        transform: translateX(20px) scale(1) rotateY(-20deg);
        box-shadow: 0px 0px 0px 0px rgba(36, 36, 36, 0);
        z-index: 1;
    }
}
.quality > .pictures{
    height: 500px;
    width: 100%;
    max-width: 700px;
    transform: translateX(-20px);
    z-index: 1;
    border-radius: 20px;
    overflow: hidden;
    transition: 1s ease-in-out;
}
.quality > .pictures.slide1{
    animation-name: picslide1;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: once;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes picslide1{
    0%{
        transform: translateX(-20px) scale(1.05) rotateY(0deg);
        box-shadow: -10px 0px 20px 0px rgba(36, 36, 36, 0.4);
        z-index: 2;
    }
    50%{
        transform: translateX(20px) scale(1.025);
    }
    100%{
        transform: translateX(-20px) scale(1) rotateY(-20deg);
        box-shadow: 0px 0px 0px 0px rgba(36, 36, 36, 0);
        z-index: 1;
    }
}

.quality > .pictures.slide2{
    animation-name: picslide2;
    animation-direction: normal;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-iteration-count: once;
    animation-play-state: running;
    animation-timing-function: linear;
}
@keyframes picslide2{
    0%{
        transform: translateX(-20px) scale(1) rotateY(-20deg);
        box-shadow: 0px 0px 0px 0px rgba(36, 36, 36, 0);
        z-index: 1;
    }
    50%{
        transform: translateX(20px) scale(1.025);
    }
    100%{
        transform: translateX(-20px) scale(1.05) rotateY(0deg);
        box-shadow: -10px 0px 20px 0px rgba(36, 36, 36, 0.4);
        z-index: 2;
    }
}

.quality > .pictures .gallery_grid{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.quality > .pictures .gallery_grid .box{
    display: flex;
    height: 50%;
    width: 100%;
}
.gallery_grid .img_cont{
    width: 50%;
    height: 100%;
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.gallery_grid .img_cont .img{
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: 0.75s ease-in-out;
}

.gallery_grid .img_cont .img1{
    background-image: url(../images/gallery/6.jpg);
}
.gallery_grid .img_cont .img2{
    background-image: url(../images/product/perforated\ sheet\ roll.jpg);
}
.gallery_grid .img_cont .img3{
    background-image: url(../images/gallery/3.jpeg);
}
.gallery_grid .img_cont .img4{
    background-image: url(../images/gallery/12.jpg);
}
.gallery_grid .img_cont:hover .img{
    transform: scale(1.1);
}
@media only screen and (max-width:1300px){
    
    .quality > .pictures{
        height: 600px;
        width: 100%;
        max-width: 700px;
        background-color: white;
        transform: translateX(-20px);
        z-index: 1;
        border-radius: 20px;
        overflow: hidden;
        transition: 1.5s ease-in-out;
    }
}
@media only screen and (max-width:1300px){
    
    .quality{
        flex-direction: column-reverse;
    }
    .quality > .content{
        font-size: 18px;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.85);
        transform: translateX(0px);
    }
    .quality > .content.slide1{
        animation-name: none;
    }
    .quality > .content.slide2{
        animation-name: none;
    }
    .quality > .pictures{
        height: 300px;
        max-width: 1000px;
        transform: translateX(0px);
    }
    .quality > .pictures.slide1{
        animation-name: none;
    }
    .quality > .pictures.slide2{
        animation-name: none;
    }
    .quality > .pictures .gallery_grid .box{
        height: 100%;
        width: 100%;
    }
    .quality > .pictures .gallery_grid .box_hide{
        display: none;
    }
    .gallery_grid .img_cont{
        width: 50%;
        height: 100%;
    }
}
@media only screen and (max-width:991px){
    
    .quality .row-mid .img_cont{
        margin-top: 0px;
        margin-left: 0px;
        margin-bottom: 40px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width:600px){

    .app_heading{
        margin-top: 20px;
        margin-bottom: 20px;
    }
    .gallery_grid .img_cont{
        width: 100%;
        height: 100%;
    }
    
    .gallery_grid .img_cont_hide{
        display: none;
    }
    .quality{
        padding: 20px;
    }
    .quality > .content{
        background-color: transparent;
        margin-top: 30px;
        padding: 0px;
        font-size: 16px;
        border-radius: 0;
    }
}